* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 600px;
  height: 500px;
  outline: 2px solid crimson;
  margin: 20px auto;
  display: flex;
}

.item {
  width: 100px;
  height: 100px;
  background: darkcyan;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  line-height: 100px;
}

.item2 {
  background: cornflowerblue;
}

.item3 {
  background: coral;
}

.item4 {
  background: blueviolet;
}
